/*-------------------START SCENE------------------------ */


.btn_play {
    -fx-background-image: url("images/play.png"); /* 背景图片的路径 */
    -fx-background-repeat: no-repeat; /* 图片不重复 */
    -fx-background-position: center; /* 图片居中 */
    -fx-background-size: cover; /* 图片覆盖整个按钮区域 */
    -fx-background-color: transparent; /* 深橙色背景 */
    -fx-text-fill: white; /* 白色文本 */
    -fx-font-size: 16px;
    -fx-pref-width: 100px; /* 首选宽度为100像素 */
    -fx-pref-height: 60px; /* 首选高度为50像素 */
    /*-fx-background-insets: 2;     !* 描边宽度为2像素，这将使背景色在边缘处缩进 *!*/
    /*-fx-background-radius: 5;     !* 圆角半径为5像素，让按钮看起来更圆滑 *!*/
    /*-fx-border-color: #6cb23d;    !* 描边颜色为红色，这通常需要和-fx-background-insets一起使用来创建描边效果 *!*/
    /*-fx-border-width: 2;           !* 描边宽度，但请注意，JavaFX的CSS没有直接的border-width属性，所以这里使用background-insets模拟 *!*/
}

.btn_exit {
    -fx-background-image: url("images/off.png"); /* 背景图片的路径 */
    -fx-background-repeat: no-repeat; /* 图片不重复 */
    -fx-background-position: center; /* 图片居中 */
    -fx-background-size: cover; /* 图片覆盖整个按钮区域 */
    -fx-background-color: transparent; /* 深橙色背景 */
    -fx-text-fill: white; /* 白色文本 */
    -fx-font-size: 16px;
    -fx-pref-width: 80px; /* 首选宽度为100像素 */
    -fx-pref-height: 60px; /* 首选高度为50像素 */
    /*-fx-background-insets: 2;     !* 描边宽度为2像素，这将使背景色在边缘处缩进 *!*/
    -fx-background-radius: 5; /* 圆角半径为5像素，让按钮看起来更圆滑 */
    /*-fx-border-color: #6cb23d;    !* 描边颜色为红色，这通常需要和-fx-background-insets一起使用来创建描边效果 *!*/
    /*-fx-border-width: 2;           !* 描边宽度，但请注意，JavaFX的CSS没有直接的border-width属性，所以这里使用background-insets模拟 *!*/
}


.label {
    -fx-text-fill: #ffffff; /* 钢蓝色文本 */
    -fx-font-size: 20px; /* 字体大小16像素 */
    -fx-font-weight: bold; /* 字体加粗 */
    -fx-font-family: "Arial"; /* 字体家族为Arial */
    -fx-text-alignment: center; /* 文本居中 */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 0); /* 添加高斯模糊投影效果 */
}


/*-------------------LEVEL SELECTION SCENE------------------------ */

.return {

    -fx-background-image: url("images/btn_return.png"); /* 背景图片的路径 */
    -fx-background-repeat: no-repeat; /* 图片不重复 */
    -fx-background-position: center; /* 图片居中 */
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-pref-width: 150px; /* 首选宽度为100像素 */
    -fx-pref-height: 62px;
}

/*-------------------STATUS BOARD------------------------ */
.status_board{
    -fx-background-color: #006400;
    -fx-font-family: 'Agency FB';
    -fx-font-weight: bold;
    -fx-text-fill: #006400;
    -fx-font-size: 30px; /* 字体大小24像素 */
    -fx-text-alignment: center;
    -fx-alignment: center;

}
/*-------------------SOCREBOARD SCENE------------------------ */


.score_title {
    -fx-font-family: 'Agency FB';
    -fx-font-weight: bold;
    -fx-font-size: 45px; /* 字体大小24像素 */
    -fx-fill: #006400; /* 暗石板灰色文本 */
}


.score {

    -fx-font-family: 'Courier New';
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-fill: #006400; /* DARKGREEN的十六进制代码 */
}


.rectangle {
    -fx-stroke-width: 3;
    -fx-stroke: #006400; /* DARKGREEN的十六进制代码 */
    -fx-fill: #fdfbf2;
}

.line {
    -fx-stroke: #006400; /* DARKGREEN的十六进制代码 */
    -fx-stroke-width: 3;
}

.eco_tip {
    -fx-font-family: 'Agency FB';
    /*-fx-font-weight: bold;*/
    -fx-font-size: 30px;
    -fx-fill: #006400; /* DARKGREEN的十六进制代码 */
}


.play_again {
    -fx-background-image: url("images/playagain.png"); /* 背景图片的路径 */
    -fx-background-repeat: no-repeat; /* 图片不重复 */
    -fx-background-position: center; /* 图片居中 */
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-pref-width: 180px; /* 首选宽度为100像素 */
    -fx-pref-height: 63px; /* 首选高度为50像素 */
}


.next_level {
    -fx-background-image: url("images/nextlevel.png"); /* 背景图片的路径 */
    -fx-background-repeat: no-repeat; /* 图片不重复 */
    -fx-background-position: center; /* 图片居中 */
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-pref-width: 180px; /* 首选宽度为100像素 */
    -fx-pref-height: 63px; /* 首选高度为50像素 */
}


.exit {
    -fx-background-image: url("images/close.png"); /* 背景图片的路径 */
    -fx-background-repeat: no-repeat; /* 图片不重复 */
    -fx-background-position: center; /* 图片居中 */
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-pref-width: 70px; /* 首选宽度为100像素 */
    -fx-pref-height: 65px; /* 首选高度为50像素 */
}

.scoreboard_root{
    -fx-background-image: url('images/scoreboard.png');
    -fx-background-size: 1300 800;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

/*-------------------GAMEOVER SCENE------------------------ */
.gameover_title{
    -fx-font-family: 'Agency FB';
    -fx-font-weight: bold;
    -fx-font-size: 45px; /* 字体大小24像素 */
    -fx-fill: #EE4B2B; /* 暗石板灰色文本 */
}

.gameover_root {
    -fx-background-image: url('images/gameover.jpeg');
    -fx-background-size: 1300 800;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

/*-------------------MAPVIEWER SCENE------------------------ */
.transition_button{
    -fx-background-color: #ffcd94; /* Light brown background for the pixel-art style */
    -fx-font-family: 'Press Start 2P', 'Consolas', monospace; /* Pixelated font, fallback to Consolas if custom font not available */
    -fx-font-size: 16px; /* Size of the font */
    -fx-text-fill: #333; /* Text color */
    -fx-padding: 20px; /* Padding around the text */
    -fx-border-color: #333; /* Border color */
    -fx-border-width: 3px; /* Border width */
    -fx-border-radius: 5px; /* Border corner radius */
    -fx-background-radius: 5px; /* Background corner radius to match border radius */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0); /* Shadow effect for depth */
}

/*-------------------GENERAL BUTTON------------------------ */
.button{
    -fx-cursor: hand;
}
.Button{
    -fx-cursor: hand;
}